<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cataloguemovie">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/movie"
        android:label="Movie Catalogue"
        android:roundIcon="@mipmap/movie"
        android:supportsRtl="true"
        >
        <activity android:name=".DetailMovie" android:theme="@style/AppTheme.TransparentTheme"></activity>
        <activity android:name=".MainActivity" android:theme="@style/AppTheme.TransparentTheme.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>